@media all and (max-width: 600px) {
    .lineDown {
        left: -41px;
    }
    .container {
        width: 86.34%;
    }
    .Panthera {
        font-size: 36px;
    }
    li a,
    a img {
        padding: 0;
    }
    ul {
        font-size: 11px;
        grid-gap: 4px;
    }
    .wakanda-1 .row .col-4 {
        width: 60%;
    }
    .fleche {
        left: 20px;
    }
    .wakanda-2 .null {
        width: 45%;
    }
    .wakanda-2 {
        margin-top: 30px;
    }
    .wakanda-3 {
        display: grid;
    }
    .wakanda-3 .col-6 {
        width: 98%;
    }
    .info-profil {
        width: 100%;
        top: -150px;
    }
    .list-info {
        width: 92%;
    }
    .formulaire {
        width: 88%;
        border-radius: 74px;
    }
    form h1 {
        font-size: 19px;
    }
    form .btn,
    .form-control {
        height: 32px;
    }
    textarea {
        height: 100px;
    }
    form .btn {
        width: 100px;
    }
    form {
        width: 86%;
    }
    .barre,
    .null-2,
    .null3 {
        display: none;
    }
    footer {
        height: 290px;
    }
    .ronde {
        width: 100px;
        height: 100px;
    }
    .sayna-marvel {
        width: 55px;
    }
    .box-footer {
        width: 12%;
    }
    footer h2 {
        font-size: 10px;
    }
    .wakanda-4 .col-5 {
        width: 40%;
    }
    .footer,
    .foot-a .text {
        font-size: 8px;
    }
    .rs img {
        width: 20px;
    }
    .foot-col-5 {
        width: 70%;
    }
    .pop {
        width: 84%;
    }
    ul {
        font-size: 11px;
    }
    /* -------------------page waganda---------------- */
    .bg-wakanda {
        height: 480px;
    }
    .bg-wakanda h1 {
        font-size: 40px;
    }
    .head-text p {
        width: 250px;
    }
    .cont-wakanda {
        width: 95%;
    }
    .text-wakanda {
        width: 95%;
    }
    .top-cont {
        display: grid;
    }
    .top-cont .col-6 {
        width: 100%;
    }
    /* --------------------page enigme--------------------- */
    .photo1 {
        width: 290px;
        top: -38px;
        left: 20px;
    }
    .al-end h1 {
        font-size: 18px;
    }
    .defi {
        height: 0px;
    }
    .windows {
        display: none;
    }
    .phone {
        display: block;
    }
    .mobi {
        display: grid;
        margin: 10px;
    }
    .mobi .col-6 {
        width: 100%;
    }
    .engime2 p {
        width: 85%;
        top: 0;
        font-size: 10px;
    }
    .engime2 {
        width: 90%;
        background-repeat: no-repeat;
        background-position: center top;
    }
    .al-end h1 {
        align-self: center;
    }
    .font-wak .col-9 {
        width: 100%;
    }
    .mobi .col-7,
    .mobi .col-5 {
        width: 100%;
    }
}

@media all and (max-width: 959px) {
    .wakanda-2 {
        margin-top: 30px;
    }
}